option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm run start:prod"
    NodeVersion: "22.11.0"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    PORT: "8080"
    API_PREFIX: "api"
    MONGO_URI: "mongodb+srv://andersonalvestech:fxk8w5ySDM0h4CJR@servuscluster0.oevppgo.mongodb.net/servus?retryWrites=true&w=majority&appName=ServusCluster0"
    JWT_ACCESS_SECRET: "aServus1108"
    JWT_REFRESH_SECRET: "aServus1108"
    JWT_ACCESS_EXPIRES_IN: "3600"
    JWT_REFRESH_EXPIRES_IN: "604800"
    JWT_ABSOLUTE_EXPIRES_IN: "2592000"
    CORS_ORIGIN: "https://servusapp.com,https://www.servusapp.com"
    LOG_LEVEL: "warn"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
